<div class="query-builder">
    <div class="group-rule">
        <div class="rules-header">
            <select ng-options="item as item for item in queryBuilder.defaults.conditions" ng-model="queryBuilder.condition">
            </select>
            <button ng-click="addGroup()">Add group</button>
            <button ng-click="addRule()">Add rule</button>
        </div>
        <ul class="rules-list">
            <li  class="rule-container" ng-repeat="rule in rules track by rule.id">
                <az-query-builder-group ng-if="rule.isGroup" group="rule"></az-query-builder-group>
                <az-query-builder-rule ng-if="!rule.isGroup" rule="rule"></az-query-builder-rule>
            </li>
        </ul>
    </div>
</div>