<div class="query-builder">
    <div class="group-rule">
        <div>
            <select ng-options="item as item for item in queryBuilder.defaults.conditions" ng-model="queryBuilder.condition">
            </select>
            <button ng-click="addGroup()">Add group</button>
            <button ng-click="addRule()">Add rule</button>
        </div>
        <ul class="rules-list">
            <li class="rule-container" ng-repeat="item in rule.rules" ng-model="rule">
                <az-query-builder-rule ng-model="item"></az-query-builder-rule>
            </li>
        </ul>
    </div>
</div>