<div class="group-rule drag-handle">
    <div class="rules-header">
        <select ng-options="item as item for item in queryBuilder.defaults.conditions" ng-model="group.condition">
        </select>
        <span class="group-btn-group">
            <button ng-click="addGroup()">Add group</button>
            <button ng-click="addRule()">Add rule</button>
            <button ng-click="removeGroup()">Remove</button>
        </span>
    </div>
    <ul class="rules-list">
        <li class="rule-container" ng-repeat="rule in group.rules track by rule.id">
            <az-query-builder-group ng-if="rule.isGroup" ng-model="rule"></az-query-builder-group>
            <az-query-builder-rule ng-if="!rule.isGroup" ng-model="rule"></az-query-builder-rule>
        </li>
    </ul>
</div>